<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
	<property name="log.base" value="/tmp/lion" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{25} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/default.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/default.%d{yyyy-MM-dd}.log.zip
			</FileNamePattern>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="errorfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/error.%d{yyyy-MM-dd}.log.zip
			</FileNamePattern>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<logger name="com.resgain" level="DEBUG" />

	<logger name="com" level="INFO" />
	<logger name="org" level="INFO" />


	<root level="ERROR">
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>

</configuration>